.connect {
    border-radius: 50%;
    background-color:lightblue;
    width: 20px;
    height: 20px;
    margin-left: 150px;
    margin-top: -10px;
    visibility: hidden;
}
.disconnect{
    border-radius: 50%;
    background-color:red;
    width: 20px;
    height: 20px;
    margin-left: 150px;
    margin-top: -10px;
    visibility: hidden;
}