.connect {
    border-radius: 50%;
    background-color:lightblue;
    width: 20px;
    height: 20px;
    margin-left: 150px;
    margin-top: -10px;
}
.disconnect{
    border-radius: 50%;
    background-color:rgb(100, 29, 29);
    width: 20px;
    height: 20px;
    margin-left: 150px;
    margin-top: -10px;
    
}